In [2]:
import csv
import numpy as np
import pandas as pd
from collections import defaultdict

In [3]:
basic_df = pd.read_csv('wnba_basic_list.csv')
advanced_df = pd.read_csv('wnba_advanced_list.csv')

In [4]:
new_df = pd.merge(basic_df, advanced_df)

In [5]:
new_df.columns

Index(['Player', 'Year', 'Team', 'Position', 'Games_Played', 'Games_Started',
       'Min_Played', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'TRB%', 'AST%',
       'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/40'],
      dtype='object')

In [6]:
mask = (new_df['Player'] == 'Mikiko Hagiwara')

In [7]:
new_df[new_df['Player'] == 'Ryneldi Becenti']

,Player,Year,Team,Position,Games_Played,Games_Started,Min_Played,FG,FGA,FG%,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/40
8,Ryneldi Becenti,1997,PHO,G,1,0,8,0,0,NaN,...,0.0,0.0,6.7,0.0,100.0,5.6,0.0,0.0,0.0,-0.09

In [8]:
new_df.describe()

,Year,Games_Played,Games_Started,Min_Played,FG,FGA,FG%,3P,3PA,3P%,...,TRB%,AST%,STL%,BLK%,TOV%,USG%,OWS,DWS,WS,WS/40
count,3730.000000,3730.000000,3730.000000,3730.000000,3730.000000,3730.000000,3698.000000,3730.000000,3730.000000,3045.000000,...,3726.000000,3726.000000,3726.000000,3726.000000,3715.000000,3726.000000,3730.000000,3730.000000,3730.000000,3726.000000
mean,2007.896783,25.574263,13.026005,526.163271,70.728150,165.593029,0.399078,13.137534,38.898660,0.275659,...,9.892727,13.271122,2.006495,1.542190,19.016124,18.931347,0.700107,0.621528,1.322172,0.059199
std,6.457262,9.732462,13.569389,346.269520,60.422337,133.107467,0.112309,17.829294,48.378052,0.167604,...,4.730854,8.147096,1.274915,1.925369,9.357013,5.295424,1.272992,0.649269,1.712830,0.131837
min,1997.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.900000,-0.800000,-1.800000,-2.948000
25%,2002.000000,21.000000,0.000000,209.000000,20.000000,53.000000,0.358000,0.000000,1.000000,0.196000,...,6.400000,7.600000,1.300000,0.400000,14.000000,15.500000,-0.100000,0.100000,0.000000,0.010000
50%,2008.000000,30.000000,7.000000,514.000000,56.000000,137.000000,0.408000,5.000000,17.000000,0.308000,...,9.200000,11.900000,1.900000,1.000000,17.400000,18.750000,0.200000,0.400000,0.700000,0.071000
75%,2014.000000,33.000000,29.000000,835.000000,110.000000,255.000000,0.459000,21.000000,62.000000,0.369000,...,13.000000,17.900000,2.500000,2.100000,22.200000,22.200000,1.200000,1.000000,2.200000,0.126750
max,2019.000000,36.000000,34.000000,1234.000000,298.000000,660.000000,1.000000,121.000000,305.000000,1.000000,...,67.800000,83.800000,28.100000,31.300000,100.000000,88.300000,8.100000,3.800000,10.000000,1.337000

In [9]:
new_df['Start_Over_Played'] = new_df['Games_Started'] / new_df['Games_Played']

In [12]:
new_df['Points_Per_Game'] = new_df['PTS'] / new_df['Games_Played']

In [14]:
new_df['Min_Played_Per_Game'] = new_df['Min_Played'] / new_df['Games_Played']

In [24]:
new_df['DRB%'] = new_df['TRB%'] - new_df['ORB%']

In [25]:
new_df

,Player,Year,Team,Position,Games_Played,Games_Started,Min_Played,FG,FGA,FG%,...,TOV%,USG%,OWS,DWS,WS,WS/40,Start_Over_Played,Points_Per_Game,Min_Played_Per_Game,DRB%
0,Tajama Abraham,1997,SAC,C,28,5,422,48,126,0.381,...,25.6,20.3,-0.6,-0.2,-0.8,-0.077,0.178571,4.357143,15.071429,0.8
1,Marcie Alberts,1997,CLE,G,5,0,30,0,2,0.000,...,60.0,7.8,-0.1,0.0,-0.1,-0.138,0.000000,0.000000,6.000000,2.1
2,Monique Ambers,1997,PHO,F,19,0,85,4,9,0.444,...,31.0,12.0,0.0,0.1,0.1,0.038,0.000000,0.736842,4.473684,0.7
3,Yvette Angel,1997,SAC,G,5,3,90,7,16,0.438,...,31.6,12.6,-0.1,0.0,-0.1,-0.061,0.600000,2.800000,18.000000,3.6
4,Janeth Arcain,1997,HOU,G,28,27,784,110,250,0.440,...,18.9,21.2,2.3,1.0,3.3,0.169,0.964286,10.892857,28.000000,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3725,Han Xu,2019,NYL,C,18,0,143,24,58,0.414,...,3.3,18.6,0.0,0.0,0.0,-0.006,0.000000,3.000000,7.944444,4.4
3726,Jackie Young,2019,LVA,G,34,34,767,76,236,0.322,...,16.5,18.0,0.1,1.2,1.3,0.067,1.000000,6.617647,22.558824,4.5
3727,Tamera Young,2019,LVA,F,34,4,628,68,179,0.380,...,18.9,17.4,-0.4,1.0,0.6,0.038,0.117647,5.294118,18.470588,4.6
3728,Amanda Zahui B.,2019,NYL,C,24,23,558,81,173,0.468,...,14.8,17.0,0.6,0.8,1.4,0.098,0.958333,8.625000,23.250000,10.2
3729,Shavonte Zellous,2019,SEA,G,31,4,432,44,116,0.379,...,20.8,17.8,-0.3,0.4,0.1,0.006,0.129032,4.000000,13.935484,5.2

In [26]:
new_df.to_pickle('wnba_total_df.pkl')